@import '../utils';

.art {
  width: 100vw;
  padding: 90px 55px 0;
  position: relative;
  height: 663px;
  background: $green;

  &__subtitle,
  &__second-subtitle {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    display: inline-block;
    width: 100%;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__title {
    color: $white;
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 30px;
    max-width: 570px;
  }

  &__second-subtitle {
    margin-bottom: 81px;
  }

  &__buy-tickets {
    color: $white;
    font-size: 16px;
    font-weight: 600;
    width: 270px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $orange;
    margin-bottom: 135px;
  }

  &__date {
    color: $white;
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      display: block;
      background-color: $white;
      height: 1px;
      width: 469px;
      left: calc(20px + 100%);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__girl {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .art {
    height: auto;
    padding: 50px 20px 0;

    &__title {
      margin-bottom: 20px;
      font-size: 48px;
    }

    &__second-subtitle {
      margin-bottom: 40px;
    }

    &__buy-tickets {
      margin-bottom: 70px;
    }

    &__date {
      display: none;
    }

    &__girl {
      position: relative;
      max-width: 57.7%;
      margin: 0 auto;
      display: block;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .art {
    height: auto;
    padding: 100px 39px 0;

    &__title {
      margin-bottom: 20px;
      font-size: 72px;
    }

    &__buy-tickets {
      margin-bottom: 70px;
    }

    &__date {
      display: none;
    }

    &__girl {
      position: relative;
      max-width: 57.7%;
      margin: 0 auto;
      display: block;
    }
  }
}
