@import '../utils';

.plan-visit {
  background-color: $green;
  padding: 205px 55px 205px 555px;
  position: relative;
  height: 800px;
  margin-bottom: 110px;

  &__title {
    font-weight: 700;
    font-size: 80px;
    color: $white;
    margin-bottom: 10px;
    width: 100%;
  }

  &__text {
    color: $white;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 50px;
    width: 100%;
  }

  &__start-link {
    display: inline-block;
    background-color: $orange;
    color: $white;
    padding: 22px 105px;
    font-weight: 600;
    font-size: 16px;
  }

  &__image {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .plan-visit {
    padding: 50px 20px;
    height: auto;

    &__title {
      font-size: 38px;
      max-width: 400px;
      margin: 0 auto 20px 0;
    }

    &__text {
      margin-bottom: 40px;
    }

    &__image {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .plan-visit {
    padding: 80px 38px;
    height: auto;

    &__title {
      font-size: 62px;
      max-width: 400px;
      line-height: 54px;
      margin-bottom: 20px;
    }

    &__text {
      max-width: 450px;
    }

    &__image {
      display: none;
    }
  }
}
